# Ignore all debugging files
errors.txt
log.txt
traceback.txt

# Ignore all save files
*.save

# Ignore persistent? It's required to run the game so it can't be deleted.

# Ignore navigation
navigation.json
